<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Record Store</title>
  </head>
  <body>
    <h1>Welcome</h1>

    <h2><a href="/artist">View Artists</a></h2>
    <h2><a href="/stock">View Albums</a></h2>
  </body>
</html>

<!-- the link on h2 does not work - it takes you to locahost:4567/artist%  -->
