<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rotations Per Minute</title>
    <link rel="stylesheet" type="text/css" href="/styles/tables.css" />
    <link rel="stylesheet" type="text/css" href="/styles/structure.css" />
    <link rel="stylesheet" type="text/css" href="/styles/forms.css" />
  </head>
  <body>
    <header>
      <h1>RPM Records</h1>
    </header>
      <nav>
        <a href="/artist"> <input type="submit" value="View Artist"></a>
        <a href="/stock"> <input type="submit" value="View Albums"></a>
        <a href="/artist/new"> <input type="submit" value="Create Artist"></a>
        <a href="/stock/new"> <input type="submit" value="Add New Album"> </a>
    </nav>
  </body>
  <footer>
    <p>Contact Support</p>
  </footer>
</html>
