<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rotations Per Minute</title>
    <link href="style.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>RPM Records</h1>
    </header>
      <nav> <a href="/artist">View Artists</a>
      <a href="/stock">View Albums</a></nav>
  </body>
</html>
