<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Rotations Per Minute</title>
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
</head>
<body>
  <header>
    <h1><a href ="/">RPM Records</a></h1>
  </header>
    <nav>
      <a href="/artist"> <input type="submit" value="View Artist"></a>
      <a href="/stock"> <input type="submit" value="View Albums"></a>
      <a href="/artist/new"> <input type="submit" value="Create Artist"></a>
      <a href="/stock/new"> <input type="submit" value="Add new album"> </a>
    </nav>
    <main>
      <ol>
      <% @artists.each do |artist| %>
      <li><a href="/artist/<%= artist.id %>"><%= artist.name %></a></li>
      <%end%>
      </ol>
    </main>
    <footer>
      <p>Contact Support</p>
    </footer>
</body>
