<form action="/artist/albums" method="post">
  <% @artists.each do |artist| %>
    <a href="/artist/<%= artist.id %>"><%= artist.name %></a>

<%end%>
</form>
  <h2> <a href="/artist/new"> <input type="submit" value="Create Artist"></a> </h2>
<a href="/"> <input type="submit" value="Home"></a>
<!-- On line four I want to be able to click the artist name and be taken to a page the albums listed to that artist.  -
