<form action="/artist" method="post">

  <label for="Name">Title:</label>
  <input type="text" id="name" name="name">

  <input type="submit" value="Add new Artist">
</form>
<a href="/"> <input type="submit" value="Home"></a>
