<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Rotations Per Minute</title>
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
</head>
<body>
  <header>
    <h1><a href ="/">RPM Records</a></h1>
  </header>
    <nav> <a href="/artist">View Artists</a>
      <a href="/stock">View Albums</a>
    </nav>
    <main>
      <table>
        <caption> <%= @artist.name %> </caption>

        <thead>
          <tr>
            <th>Title</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
          <% albums = @artist.find_albums %>
          <% albums.each do |album| %>
          <tr>
            <td><%= album.title %></td>
            <td><%= album.stock %></td>
          </tr>
          <%end%>
        </tbody>
    </main>
    <footer>
    </footer>
</body>
