<p> <%= @artist.name %></p>
<p> <% albums = @artist.find_albums %> </p>

 <% albums.each do |album| %>
 <p><%= album.title %></p>
 <p><%= album.stock %></p>


<%end%>
<a href="/"> <input type="submit" value="Home"></a>
