<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Rotations Per Minute</title>
  <link href="style.css" type="text/css" />
</head>
<body>
  <header>
    <h1><a href ="/">RPM Records</a></h1>
  </header>
  <nav>
    <a href="/artist"> <input type="submit" value="View Artist"></a>
    <a href="/stock"> <input type="submit" value="View Albums"></a>
    <main>
      <h1> Edit Albums <h1>
      <form action="/stock" method="post">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title">

          <label for="stock">Stock:</label>
          <input type="number" name="stock">
          <input type="submit" value="Submit Changes">
      </form>

    </main>
  </body>





<!--
<label for="artist_id">Artist:</label>
<select name="artist_id" id="artist_id">
  <% @artists.each do |artist| %>
    <option value=<%= artist.id %>> <%= artist.name %> </option>
    <% end %>
</select> -->
