<form action="/stock" method="post">

  <label for="Title">Title:</label>
  <input type="text" id="title "name="title">

  <label for="Stock">Amount:</label>
  <input type="text" id="stock" name="stock">

  <label for="Artist_id">Artist ID:</label>
  <input type="text" id="artist_id" name="Artist ID"</input>
  <input type="submit" value="Add new Album">
</form>
