<h1>Stock</h1>
  <a href="/stock/manage"><input type="submit" value="Manage Album"></a>
  <a href="/"> <input type="submit" value="Home"> </a>
  <a href="/stock/new"> <input type="submit" value="Add new album"> </a>

<% @albums.each do |album| %>
<table>
  <thead>
    <tr>
      <th>Title:</th>
      <th>Stock:</th>
      <th>Artist:</th>
      <th>Add Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= album.title %></td>
      <td> <%= album.stock %></td>
      <td> <%= album.find_by_artist() %></td>
      <td> Add Stock</td>
    </tr>
  </tbody>
</table>
<%end%>
