<h1>Stock</h1>
  <h2><input type="submit" value="Add Stock"></h2>
<% @albums.each do |album| %>
<table>
  <thead>
    <tr>
      <th>Title:</th>
      <th>Stock:</th>
      <th>Artist_id:</th>
      <th>Add Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= album.title %></td>
      <td> <%= album.stock %></td>
      <td> <%= album.artist_id %></td>
      <td> Add Stock</td>
    </tr>
  </tbody>
</table>
<%end%>
<!-- creat a link that takes you to a form to add a new album -->
