<h1>Stock</h1>
<% @albums.each do |album| %>
<ul>
  <li>Title: <%= album.title %> </li>
  <li>Stock: <%= album.stock %> </li>
  <li>Artist ID: <%= album.artist_id %> </li>
</ul>
<%end%>


<!-- creat a table for stock - takes four row Title->Stock->Artsit_id->add stock link -->
